extends ../layout

block stylesheets
    link(rel='stylesheet', href='/stylesheets/client.css?v=#{version}')

block javascripts
    script(src='/javascripts/p.client.js?v=#{version}')

block content

    include _detail
