nav
    a.nav-item(href='/chart?t=#{time}', key='list')
        i.icon.icon-th
        | list

    a.nav-item(href='/excel/download', target="_blank")
        i.icon.icon-download
        | download
    a.nav-item(href='/master', key='master')
        i.icon.icon-wrench
        | master


