extends layout

block stylesheets
    link(rel='stylesheet', href='/stylesheets/lib/jquery.treeview.css')
    link(rel='stylesheet', href='/stylesheets/index.css?v=#{version}')

block javascripts
    script(src='/javascripts/lib/jquery.treeview.js')
    script(src='/javascripts/p.index.js?v=#{version}')

block content

    aside.float-right.positioned
        include client/_list

    article
        h1#large-logo=l.app.name
        p.description=l.app.description