section.list-section#industry-list-section
    form#industry-list-form.block-list-header(
    data-role='search-form',action='/api/industry.json',method='get')
        input(type='search', name='search_word')
        input(type='hidden', name='skip', value='0')
        input(type='hidden', name='limit', value='500')
        input.btn(type='submit')=l.lbl.search
    ul#industry_list.block-list

    a.add-btn.wide-btn#industry-add-btn(
    href='javascript:void(0)', data-role='add-btn')
        | #{l.btn.new}