extends ../layout

block stylesheets
    link(rel='stylesheet', href=url.css('issue.css'))

block javascripts
    script(src=url.js('p.issue.js'))

block content


    #issue-list-section(data-issues=issues).positioned
        h1#section-title issues
        br.clear
        fieldset.positioned
            legend request
            ul#request-issues-list(data-status='request').clear
            a#issue-add-btn(data-role='add-btn', href='javascript:void(0)', style='right:10px;') +new issue
        fieldset#working-fieldset
            legend working
            ul#working-issues-list(data-status='working').clear

        fieldset#done-fieldset
            legend done
            ul#done-issues-list(data-status='done').clear