@import "lib/tek";

body{
  padding: 20px 0;
  margin: 0;
}
#main {
  width: auto;
}

#client-select {
  display: none;
}

th{
  a{
    display: block;
    width:100%;
  }
}

.sortable-th {
  cursor: pointer;
  .user-select(none);
  .icon-chevron-down,
  .icon-chevron-up {
    display: none;
    margin-right: 3px;
    position: relative;
    top: -1px;
  }
  color: fadeout(@black, 20);
  &.desc {
    .icon-chevron-up {
      display: inline-block;
    }
  }
  &.asc {
    .icon-chevron-down {
      display: inline-block;
    }
  }
}

#chart-list-table {
  width: 100%;
  .white-back(0.4);
  .box-shadow(1px 1px 2px, 0.2);
  caption {
    .center-lbl {
      font-size: 1.2em;
      color: @gray;
      display: inline-block;
    }
    padding: 0px 1px;
  }
}

.count-label {
  position: relative;
  top: 4px;
}

.color-label {
  display: inline-block;
  .circle(4px);
  margin: 0 6px;
}