@import "lib/tek-mixin.less";

body {
  padding: 20px 0;
  margin: 0;
}

#main {
  width: auto;
}

#client-select {
  display: none;
}

th {
  a {
    display: block;
    width: 100%;
    min-width: 150px;
  }
}

.sortable-th {
  cursor: pointer;
  .user-select(none);
  .icon-chevron-down,
  .icon-chevron-up {
    display: none;
    margin-right: 3px;
    position: relative;
    top: -1px;
  }
  color: fadeout(@black, 20);
  &.desc {
    .icon-chevron-up {
      display: inline-block;
    }
  }
  &.asc {
    .icon-chevron-down {
      display: inline-block;
    }
  }
}

#chart-list-section {

  .filter(@filter;) {
    &[data-filter="@{filter}"] {
      .chart-cell-label[for="@{filter}"] {
        display: block;
      }
    }
  }
  .chart-cell-label {
    display: none;
  }

  .filter("provider-filter");
  .filter("code-filter");
  .filter("scale-filter");
  .filter("freeword-filter");
  &[data-filter="all-filter"] {
    .chart-cell-label {
      display: block;
    }
  }

  .hover-sync {
    @back: lighten(@yellow, 15);
    background-color: @back;
    color: darken(@back, 50);
  }

}

.count-label {
  position: relative;
  top: 4px;
}

.color-label {
  display: inline-block;
  .circle(4px);
  margin: 0 6px;
}

.ss-th {
  min-width: 60px;
}

.ss-root {
}

caption {
  display: none;
}

.ss-table {
  width: 100%;

  .empty-cell(@back) {
    background-color: @back !important;
    border-color: darken(@back, 5) !important;
  }
  .ss-tbody-row {
  }
}


#chart-list-control-fieldset{
  background-color: fadeout(@white,20);
  .border-radius(4px);
}
.margin-box{
  margin: 5px 20px;
}
fieldset{
  margin: 0;
}

.field-label{
  display: inline-block;
  margin: 0 5px;
  &:after{
    content:':';
  }
}
.chart-cell-color-mark{
  display: none;
}
.colorized{
  .chart-cell-color-mark{
    display: block;
    position: absolute;
    left: 0;
    top:0;
    .square(0);
    border-style:solid;
    border-width:10px;
    border-color:transparent;
  }
  .ss-cell{
    position: relative;
    opacity: .8;
    &:hover,
    &.hover-sync{
      opacity: 1;
    }
    &.empty-cell{
      opacity: 1;
      .empty-cell(@back){
        background-color: @back !important;
        border-color: darken(@back,2) !important;
      }
    //  @back:rgb(228, 228, 228);
      @back:#FDFDFD;
      .empty-cell(@back);
      &:hover{
        .empty-cell(lighten(@back,2));
      }
    }
  }
}
