@import "lib/tek";
@import "lib/tek.rich.less";

#product-fieldset {
  label {
    margin-right: 15px;
  }
  padding: 10px 20px;
  margin: 0 5px;
}

section .half {
  width: 49%;
  box-sizing: border-box;
}

form.tk-loading {
  opacity: 0.8;
}

.full-width {
  width: 100%;
}

.wide-table {
  width: 100%;
  td, th {
    background-image: none;
    background-color: transparent;
  }
}
#client-detail-section{
  h1{
    font-size: 2em;
  }
}
#description-input{
  height:90px;
}