@import "lib/tek";
@import "lib/tek.rich.less";

#department-list-section {
  width: 320px;
  float: left;
  .block-list-header{
    background-image: none;
    background-color: #7083B6;
    color: #EEE;
    box-shadow: none;
  }
}

#client-detail-paper {
  width: 700px;
  float: right;
  margin-top: 0;
  .paper-content{
    min-height: 200px;
  }
}