@import "lib/tek";
@import "lib/tek.rich.less";

#department-list-section {
  width: 320px;
  float: left;
  .block-list-header{
    background-image: none;
    background-color: #E6E6E6;
    color: #A0A0A0;
    box-shadow: none;
    font-weight: bolder;
    line-height: 20px;
  }
  li{
    &.selected{

    }
  }
}

#client-detail-paper {
  width: 700px;
  float: right;
  margin-top: 0;
  .paper-content{
    min-height: 200px;
    label{
      margin-right: 15px;
    }
  }
}