@import "lib/tek";

header {
  display: none;
}

body {
  padding: 50px;
}

#large-logo {
  padding: 0;
  margin: 0;
  font-size: 6em;
  color: lighten(@black, 30);
  .etched(0.5);
  line-height: 1em;
}

body{
  .block-list{
    li{
      background-color: fadeout(@white, 4);
    }
  }
}

section {
  .border-radius(8px 8px 0 0);
  .box-shadow(1px 1px 3px, 0.4);
}

.description {
  opacity: 0.8;
}

aside {
  width: 600px;
}

li {
  .label {
    margin-left: 20px;

  }
}
