@import "lib/tek";

header {
  background-color: transparent;
  .box-shadow(none);
  .logo {
    display: none;
  }
  select {
    display: none;
  }
}

body {
  padding: 50px;
}

#large-logo {
  padding: 0;
  margin: 0;
  font-size: 6em;
  color: lighten(@black, 30);
  .etched(0.5);
  line-height: 1em;
  cursor: default;
}

body {
  .block-list {
    li {
      background-color: fadeout(@white, 4);
    }
  }
}

section {
  .border-radius(8px 8px 0 0);
  .box-shadow(1px 1px 3px, 0.4);
  position: relative;
  z-index: 101;
}

.description {
  opacity: 0.8;
}

aside {
  width: 600px;
}

li {
  .label {
    margin-left: 20px;

  }
}

.hop {
  position: relative;
  &:hover {
    top: -2px;
    opacity: 0.9;
  }
}

.rank-label {
}

.rank-label-container {
  display: inline-block;
  position: relative;
  top: 5px;
  min-width: 30px;
}

.block-list-item-control {
  top: 4px;
  right: -52px;
}

.tv-label {
  > div {
    > .detail-link {
      opacity: .1;
      display: inline-block;
      padding: 7px 9px;
      top: 0;
      right: 0;
      height: 100%;
      box-sizing: border-box;
      border-left: 1px solid transparent;
    }
    > .block-list-item-control {
      opacity: 0.1;
      a {
        .box-shadow(50%);
        display: inline-block;
        &:hover {
          background-color: fadeout(@yellow, 20);
          .box-shadow(0 0 10px fadeout(@yellow, 30));
        }
      }
    }
  }
  input[type="text"] {
    width: 200px;
  }
  &:hover {
    > div {
      > .block-list-item-control {
        opacity: 8;
      }
      > .detail-link {
        opacity: 1;
        &:hover {
          @back: lighten(@blue, 30);
          border-left-color: darken(@back, 5);
          background-color: @back;
        }
      }
    }
  }
}

.tv-selected > .tv-label,
.tv-selected > .tv-label:active {
  > div > .detail-link {
    opacity: 1;
    background-color: #704AFF;
  }
}
