@import "lib/tek-mixin.less";

header {
  background-color: transparent;
  .box-shadow(none);
  .logo {
    display: none;
  }
  select {
    display: none;
  }
  nav{
    display: none;
  }
}

body {
  padding: 50px;
}

#large-logo {
  padding: 0;
  margin: 0;
  font-size: 6em;
  color: lighten(@black, 30);
  .etched(0.5);
  line-height: 1em;
  cursor: default;
}

body {

}

section {
  .border-radius(8px 8px 0 0);
  .box-shadow(1px 1px 3px, 0.4);
  position: relative;
  z-index: 101;
}

.description {
  opacity: 0.8;
}

aside {
  width: 600px;
}

li {
  .label {
    margin-left: 20px;
  }
}

.hop {
  position: relative;
  &:hover {
    top: -2px;
    opacity: 0.9;
  }
}

#login-section {
  float:right;
  text-align: center;
  @f:2em;
  padding: 0;
  font-size:@f;
  width:500px;
  .box-shadow(none);
  .block-label {
    white-space: nowrap;
  }
  input{
    font-size:1em;
  }
  .wide-btn{
    margin: 10px auto;
    display: block;
    font-weight: bolder;
  }
}
#login-btn-field{
  width:335px;
}
.field{
  display: block;
  text-align: left;
}
footer{
  padding: 20px 60px;
}