@import "lib/tek";

section {
  width: 400px;
  float: left;
  margin: 40px;
  position: relative;
}

#product-list-section {
  .detail-link {
    display: none;
  }
}

#rank-list-section {
  .detail-link {
    display: none;
  }
}

#client-select {
  display: none;
}

.ball {
  display: inline-block;
  @s: 10px;
  width: @s;
  height: @s;
  .border-radius(50%);
}

.rank-list-item {
  .ball {
    top: 1px;
    position: relative;
  }
}

section {
  .box-shadow(1px 1px 2px, 0.4);
  .border-radius(8px 8px 0 0);
}