extends ../layout

block stylesheets
    link(rel='stylesheet', href='/stylesheets/chart.css')

block javascripts
    script(src='/javascripts/p.chart.js')
    script.
        (function($){
            $(function(){
                $('header nav').nav('list');
            });
        })(jQuery);
block content
    div.float-right#chart-list-tabs
        a.tab(href='javascript:void(0)',data-key='provider')=l.lbl.provider
        a.tab(href='javascript:void(0)',data-key='freeword')=l.lbl.freeword
        a.tab(href='javascript:void(0)',data-key='scale')=l.lbl.scale
        a.tab(href='javascript:void(0)',data-key='')=l.lbl.all

    table#chart-list-table.full-width
        thead
            tr
                for head in headRow
                    th=head


        tbody
            for row in rows
                tr
                    th
                        a(href=row[0].href)=row[0].text
                    - for (var i = 1; i < row.length; ++i) {
                        td(data-system=row[i],
                        class=row[i].name?'':'disabled'
                        )=row[i].name
                    - }
