extends ../layout

block stylesheets
    link(rel='stylesheet', href='/stylesheets/system.css')

block javascripts
    script(src='/javascripts/p.system.js')
    script.
        (function($){
            $(function(){
                $('header nav').nav('list');
            });
        })(jQuery);
block content
