extends ../layout

block stylesheets
    link(rel='stylesheet', href='/stylesheets/chart.css')

block javascripts
    script(src='/javascripts/p.chart.js')
    script.
        (function($){
            $(function(){
                $('header nav').nav('list');
            });
        })(jQuery);
block content
    table#data-table
        tbody
            for row in rows
                tr
                    th
                        a(href=row[0].href)=row[0].text
                    - for (var i = 1; i < row.length; ++i) {
                        td=row[i]
                    - }
