extends ../layout

block stylesheets
    link(rel='stylesheet', href='/stylesheets/master.css')

block javascripts
    script(src='/javascripts/p.product.js')
    script(src='/javascripts/p.rank.js')
    script(src='/javascripts/p.master.js')
    script.
        (function($){
            $(function(){
                $('header nav').nav('master');
            });
        })(jQuery);

block content

    include ../product/_list

    include ../rank/_list


