extends ../layout

block stylesheets
    link(rel='stylesheet', href='/stylesheets/master.css')

block javascripts
    script(src='/javascripts/p.salesman.js')
    script(src='/javascripts/p.rival.js')
    script(src='/javascripts/p.master.js')

    script.
        (function($){
            $(function(){
                $('header nav').nav('master');
            });
        })(jQuery);

block content

    include ../salesman/_list
    include ../rival/_list


