extends ../layout

block stylesheets
    link(rel='stylesheet', href='/stylesheets/master.css')

block javascripts
    script(src='/javascripts/p.master.js')
    script(src='/javascripts/p.industry.js')
    script(src='/javascripts/p.product.js')
    script(src='/javascripts/p.rank.js')

block content

    include ../product/_list

    include ../industry/_list

    include ../rank/_list


